
#page-content .card {
    margin-bottom: 1rem;

    .card-title {
        margin-bottom: 1.5rem;
        font-weight: 900;
    }

    button {
        // background-color: #5d7bdf;
        border-width: 0;
    }

}

.card-columns {
    margin-top: 3rem; 
    
    column-count: 2;
    @media (max-width: 35rem) {
        column-count: 1;
    }
}
