/**
* Tomorrow Night Colors
* Anchors: #de935f
* Visited Anchors: #d4712b (darker orange)
* Background: #1d1f21
* Foregound: #c5c8c6
* Header Background: #373b41
* Page Background: #282a2e
* 
*/


/*
* =VARIOUS
*
*/

a {
    color: #de935f;
    text-decoration: none;
}

/** Animation */
a:hover {
    text-decoration: underline;
}

/*
* =HEADER
*
*/

#name a {
    text-decoration: none;
}

#name a:active {
    text-shadow: 0px 0px 30px #de935f;
    transition: text-shadow 0.1s;
}

#header {
    background-color: #373b41;
    font-family: Consolas, monospace;
}


#name {
    font-size: 48pt;
}

#profession {
    font-size: 18pt;
}

#top-bar a {
    font-size: 22pt;
}

/*
* =FOOTER
*
*/

#footer {
    background-color:#373b41;
    font-family: sans-serif;
    font-size: 12pt;
}

/* 
* =CONTENT
*
*
*/

html {
    background-color: #1d1f21;
}

body {
    background-color: #282a2e;
    color: #c5c8c6;
    font-size: 14pt;
}

/* visited anchor */
#page-content a:visited {
    color:#d4712b;
}