{% extends "personalPages/base.html" %}

{% load static %}

{% block title %} 
{{ fullname }}'s Projects
{% endblock %}

{% block static_files %} 
<link rel="stylesheet" type="text/css" href="{% static 'personalPages/css/projects.css' %}" />
{% endblock %}

{% block body %} 
    <p>
    Here are listed several projects that I have done in my spare time and as part of a school course.    
    </p>
    {% include 'personalPages/projects/components/project-cards.html' with projects=projects %}
{% endblock %}
