{% extends "personalPages/base.html" %}

{% load static %}

{% block title %} 
{{ person.fullname }}'s Projects
{% endblock %}

{% block static_files %} 
<link rel="stylesheet" type="text/css" href="{% static 'personalPages/css/projects.css' %}" />
<script src="{% static 'personalPages/js/projects.js' %}" defer></script>
{% endblock %}

{% block body %} 
    {{ person.project_page | safe }}

    {% include 'personalPages/projects/components/project-cards.html' with projects=projects %}
{% endblock %}
