/**
    Tomorrow Night Colors
    publication time color: #969896
*/

.blog-article:first-child {
    margin-top: 1rem;
    padding-top: initial;  
}


.blog-title {
    font-size: 28pt;
}

.blog-content {
    margin-top: 2rem;
    white-space: pre-wrap;
}

.post-time {
    margin-top: 1.5rem;
    color: #969896;
}

.blog-title {
    margin-bottom: 0;
    margin-top: initial;
}