{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %} 
            {{ fullname }} Website
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Fontawesome -->
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <!-- User links -->
        <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERERERERERERAAAAAAAAERAQAAAAAAEBEAEAAAAAEAEQABAAAAEAARAAAQAAEAABEAAAEAEAAAEQAAABEAAAARAAAAEQAAABEAAAEAEAAAEQAAEAABAAARAAEAAAAQABEAEAAAAAEAEQEAAAAAABAREAAAAAAAAREREREREREREAAAAAP/wAAF/6AABv9gAAd+4AAHveAAB9vgAAfn4AAH5+AAB9vgAAe94AAHfuAABv9gAAX/oAAD/8AAAAAAAA" rel="icon" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="{% static 'personalPages/css/base/base.css' %}" />
        {% block static_files %} 
        {% endblock %}
    </head>
    <body>
        <header id="header">
            <h1 id="name">
                <!-- a href="{% url 'index' %}"> {{ fullname|truncatewords:1 }}'s Corner of the Web </a-->
                <a href="{% url 'index' %}"> {{ fullname }} </a>
            </h1>
            <h3 id="profession">
                 {{ professional_title }} 
            </h3>
            <nav id="top-bar">
                <ul>
                    <li><a href="{% url 'projects' %}">Projects</a></li>
                    <li><a href="{% url 'resume' %}">Resume</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </nav>
        </header>
        <div id="page-content">
            {% block body %} 
            {% endblock %}
        </div>
        <footer id="footer">
            <ul>
                <span class="footer-text">My Links: </span>
                {% if github %}
                    <li><a href="{{ github }}"><i class="fab fa-github"></i> GitHub</a></li>
                {% endif %}
                {% if linkedin %}
                    <li><a href="{{ linkedin }}"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                {% endif %}
                {% if email %}
                    <li><a href="mailto:{{ email }}"><i class="fas fa-envelope"></i> E-mail</a></li>
                {% endif %}
            </ul>
        </footer>
    </body>
</html>