{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %} 
            {{ fullname }} Website
            {% endblock %}
        </title>
        <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAERERERERERERAAAAAAAAERAQAAAAAAEBEAEAAAAAEAEQABAAAAEAARAAAQAAEAABEAAAEAEAAAEQAAABEAAAARAAAAEQAAABEAAAEAEAAAEQAAEAABAAARAAEAAAAQABEAEAAAAAEAEQEAAAAAABAREAAAAAAAAREREREREREREAAAAAP/wAAF/6AABv9gAAd+4AAHveAAB9vgAAfn4AAH5+AAB9vgAAe94AAHfuAABv9gAAX/oAAD/8AAAAAAAA" rel="icon" type="image/x-icon" />
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'personalPages/css/base/typhography.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'personalPages/css/base/layout.css' %}" />
        {% block static_files %} 
        {% endblock %}
    </head>
    <body>
        <header id="header">
            <h1 id="name">
                <!-- a href="{% url 'index' %}"> {{ fullname|truncatewords:1 }}'s Corner of the Web </a-->
                <a href="{% url 'index' %}"> {{ fullname }} </a>
            </h1>
            <h3 id="profession">
                 {{ professional_title }} 
            </h3>
            <nav id="top-bar">
                <ul>
                    <li><a href="{% url 'resume' %}">Resume</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </nav>
        </header>
        <div id="page-content">
            {% block body %} 
            {% endblock %}
        </div>
        <footer id="footer">
            <ul>
                <span>My Links: </span>
                {% if github %}
                    <li><a href="{{ github }}"><i class="fab fa-github"></i> GitHub</a></li>
                {% endif %}
                {% if linkedin %}
                    <li><a href="{{ linkedin }}"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                {% endif %}
                {% if email %}
                    <li><a href="mailto:{{ email }}"><i class="fas fa-envelope"></i> E-mail</a></li>
                {% endif %}
            </ul>
        </footer>
    </body>
</html>