{% extends "personalPages/base.html" %}

{% block title %} 
{{ fullname }}'s Blog
{% endblock %}

{% block body %} 
    {% if article_list %}
        {% for article in article_list %}
            <article>
                <a href="{% url 'blogpost' article.id %}">{{ article.title|safe }}</a>
                <p>Published: {{ article.publish_date }}</p>
                <p>{{ article.content|safe }}</p>
            </article>
        {% endfor %}
    {% else %}
        <p> Nothing to Show. </p>
    {% endif %}
{% endblock %}
