{% extends "personalPages/base.html" %}

{% load static %}
{% load compress %} 

{% block title %} 
{{ person.fullname }}'s Resume
{% endblock %}

{% block static_files %} 
<link rel="stylesheet" type="text/css" href="{% static 'personalPages/css/resume.css' %}" />
{% compress js %}
<script src="{% static 'js/resume.js' %}" defer></script>
{% endcompress %}
{% endblock %}

{% block body %} 
    {{ person.resume_page | safe }}

    <div id="resume_pdf_link">
        <a  href="{{person.resume_pdf.url}}"><i class="fas fa-file-pdf fa-lg"></i> Download Resume (PDF)</a> 
    </div>
    <!-- embedded pdfs -->
    <div class="pdf_container" id="pdf-native-rendered">
        <embed src="{{person.resume_pdf.url}}" type='application/pdf' class="resume_pdf">
    </div>
    <div class="pdf_container" id="pdf-google-workaround">
        <embed src="https://drive.google.com/viewerng/viewer?embedded=true&url={{ absolute_pdf_url }}" class="resume_pdf">
    </div>
{% endblock %}
