{% extends "personalPages/base.html" %}

{% load static %}

{% block title %} 
{{ fullname }}'s Resume
{% endblock %}

{% block static_files %} 
<link rel="stylesheet" type="text/css" href="{% static 'personalPages/css/resume.css' %}" />
{% endblock %}

{% block body %} 
    {{ person.resume_page | safe }}
    
    <div id="resume_pdf_link">
        <a  href="{{resume_pdf_url}}"><i class="fas fa-file-pdf fa-lg"></i> Download Resume (PDF)</a> 
    </div>
    <div id="pdf_container">
        <embed src="https://drive.google.com/viewerng/viewer?embedded=true&url={{ resume_pdf_url }}" id="resume_pdf">
    </div>
{% endblock %}
